<!-- BEGIN PAGE CONTENT-->
<!--<p>-->
	{{person}}
	<!--{{requestMz}}-->
<!--</p>-->
<div class="portlet light" id="section-to-print">
	<div class="portlet-body">
		<div class="invoice">
			<div class="row invoice-logo">
				<div class="col-xs-5 invoice-logo-space">
					<img src="assets/global/img/Logo_CPAS.jpg" class="img-responsive" alt=""/>
					<span>MEDIATION DE DETTE</span> <br/>
					<span>CELLULE ENERGIE</span>
				</div>
				<div class="col-xs-7">
					<h3> RAPPORT JOURNALIER <span class="muted"> {{requestMz.socm_datum_onderzoek}} </span> </h3>
				</div>
			</div>
			<hr/>
			<div class="row">
				<!--<h3>RAPPORT JOURNALIER {{requestMz.socm_datum_onderzoek}}
				</h3>-->
				<div class="col-xs-6">
					<!--<h3>Client:</h3>-->
					<ul class="list-unstyled">
						<li>
							N° Dossier :  <span><strong>{{person.dos_soc_dos +' - DI : '+ person.dos_jaar +' / '+ person.dos_number }}</strong></span>
						</li>
						<li>
							NOM : {{person.dos_naam +' '+ person.dos_voornaam}}
						</li>
						<!--<li>
							 NISS : {{person.dos_nr_nat_reg}}
						</li>-->
						<li>
							Adresse : {{person.dos_straat +' '+person.dos_huisnr + '/' + person.dos_busnr}}
						</li>
						<li>
							{{person.dos_postcode + ' ' + person.dos_woonplaats }} - Belgique
						</li>
						<li>
							{{person.dos_tel + ' ' + person.dos_tel2 + ' ' + person.dos_gsm}}
						</li>
						<li>
							{{person.dos_geslacht}}
						</li>
					</ul>
				</div>

				<div class="col-xs-6 invoice-payment">

				</div>
			</div>
			<div class="row">
				<!--<h3>Composition de ménage / Ressources :</h3>-->
				<div class="col-xs-12">
					<div class="well">
					{{ genrePersonne[person.dos_geslacht] }}
					{{person.dos_geslacht}}
					<p>
						L'intéressé(e) se présente à la permanence du {{requestMz.socm_datum_onderzoek}}
						et sollicite l'allocation de chauffage pour une livraison en date du {{requestMz.socm_datum}}.
					</p>
					<p>
						L'intéressé(e) fait partie de la catégorie {{requestMz.socm_seizoen_tot}} : {{ categoryDescription[requestMz.socm_seizoen_tot - 1] }}
					</p>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-8 col-xs-4">
					<a class="btn btn-lg blue hidden-print " onclick="javascript:window.print();">
					Imprimer <i class="fa fa-print"></i>
					</a>
					<!--<a class="btn btn-lg green hidden-print margin-bottom-5">
					Submit Your Invoice <i class="fa fa-check"></i>
					</a>-->
				</div>
			</div>
		</div>
	</div>
</div>

<script>
jQuery(document).ready(function() {    
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
Demo.init(); // init demo features
});
</script>
